@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jacques+Francois+Shadow&family=Londrina+Shadow&family=Noto+Sans+Mono&family=Oswald:wght@200;400&family=Roboto&display=swap');
/* barra de navegación */
.navbar{
    background-color: #63968c !important;
    
}
ul li a{
    color:#e2dfdb !important; 
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    transition: all 1s;
}

ul li a:hover{
    transform: scale(1.2);
   text-shadow: 0 0 5px #e2dfdb
   
}



/* texto dentro del carrusel */

.carousel-caption{
    background-color:  #63968c99;
    height: 250px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 200px;
 
}

h5{
   font-family: 'Anton', sans-serif;
   padding: 5px;
   font-size: 40px;
   text-align: left;
   color: #e2dfdb;

}

span{
    font-size: 30px;
}

p{
    text-align: left;  
    padding: 5px;
    font-family: 'Roboto', sans-serif;
  
}

/* boton de ver mas */
.carousel-caption button{

margin-bottom: 5px;
font-family: 'Anton', sans-serif;
background-color: #63968c99;
border: black solid;
margin-left: 200px;
transition: all 1s;

}

.carousel-caption button:hover{
    background-color: #63968c99;
    border: black solid;
    transform: scale(1.2);
    text-shadow: 0 0 5px #e2dfdb;

}

.carousel-caption button a{
    color: #e2dfdb;
    text-decoration: none;
}
/* estilos para footer */
footer{
    background-color: #63968c;
    font-family: 'Roboto', sans-serif;
    color: #e2dfdb;
    padding: 10px;
    font-size: 20px;
    
}
.redes{
    font-size: 30px;
    letter-spacing: 6px;
    text-align: center;
}

.redes a{
    text-decoration: none;
    color: #e2dfdb;
}
.redes a:hover{
    text-shadow: 0 0 5px #e2dfdb;
    
}
 
@media screen and (max-width: 412px ) {
    


    
    .navbar{
        display: flex;
        flex-direction:column;
        align-items: center;
        position: relative;

    }



}

@media screen and (max-width: 412) {
    .carousel-item{
        height: 350px !important;
    }
    
}

@media screen and (max-width: 1010px ) 
/* no puedo entender las media quueri con bostraps, no se como acomodar ese p, ni hacer que el slider se haga mas grande */

