@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jacques+Francois+Shadow&family=Londrina+Shadow&family=Noto+Sans+Mono&family=Nunito:wght@300&family=Oswald:wght@200;400&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* valores para el la barra de navegación */
#logo{
    width: 250px;
    padding: 5px;
    padding-top: 10px;
}
.barra{
        
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
   

}


.barra ul li{
    list-style: none;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 10px;
 
    transition: all 1s;
}
.barra a{
    text-decoration: none;
    color: black;   
}

.barra ul li:hover{
    text-shadow: 0 0 5px #63968c;
    transform: scale(1.2);
    
}

.grid-contenedor{
    padding: 20px;
    display: grid;
    grid-template-columns: 25% 35% 40%;
    justify-content:space-around;
    gap: 5px;
}





.item1{
    display: flex;
    justify-content: center;
}

h1{
    margin-left: 40px;
    padding: 10px;
    font-family: 'Anton', sans-serif;
    color: #63968c;
       
}
span{
    font-size: 40px;
}

p{
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    margin: 20px;
    margin-top: -10px;

}

/* foto principal */
.item3{

    background-image: url(../Img/n1.jpg);
    background-size: cover;
    border-radius: 10px;

}

.flex{
   margin-top: 20px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;

}
.foto{
    border: 2px solid black;
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: 15px


}
.foto1{
    background-image: url(../Img/n2.jpg);
    background-size: cover;
    background-position: center;

}
.foto2{
    background-image: url(../Img/n3.jpg);
    background-size: cover;
    background-position: right;
}
.foto3{
    background-image: url(../Img/n4.jpg);
    background-size: cover;
    background-position: right;
}

/* inicia estilos de footer */
.pie{
    margin-top: 15px;
    height: auto;
    display: flex;
    background-color: #63968c;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
     padding: 10px;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
}
.pie .redes{
    font-size: 30px;
    letter-spacing: 6px;
   
}
.pie .der {
    
    display: flex;
    align-items: center;

}


.pie .der p{
    font-family: 'Nunito', sans-serif;

} 

.redes a{
    text-decoration: none;
    color: #e2dfdb;
}
.redes a:hover{
    text-shadow: 0 0 5px #e2dfdb;
    
}


/* ingreso de las media query */

@media screen and (max-width:457px){

    .item1{
        display: grid;
        grid-column: 1/4;

    }
    .item2 {
        grid-column: 1/4;
        justify-items: center;
        text-align: center;
    }

    .item3 {
        grid-column: 1/4;
        background-position: right;
        height: 300px;
    }
    .flex{
       
    
         width: 100%;
         display: flex;
         justify-content: center;
         align-content: space-around;
         height: auto;
         flex-flow: wrap;
         gap: 15px;
}

.foto{
 
    height: 300px;
    font-size: 15px;
    padding: 10px;

}

.pie{
    height: auto;
    flex-flow: wrap;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
     padding: 10px;
    font-size: 16px;
}

.pie .der{
    width: 80%;
    flex-wrap: nowrap;
    align-items: flex-start;
}

}
@media screen and (min-width:361px) and (max-width:819px){


    .item1{
        display: grid;
        grid-column: 1/4;

    }
    .item2 {
        grid-column: 1/4;
        justify-items: center;
        text-align: center;
    }

    .item3 {
        grid-column: 1/4;
        background-position: cover;
        height: 400px;
    }
   

    .foto{
 
        height: 300px;
        width: 80%;
        font-size: 15px;
        padding: 10px;
        text-align: center;
    }

    .foto1{
        background-position: unset ;
    }

    .foto3{
        background-position: unset;
    }

    .pie{
       height: auto;
       display: flex;
       flex-direction: column;
       align-items: center;
       font-size: 16px;
    }
    
}





